{% extends 'base.html' %}

{% block title %}Добавить новый раздел{% endblock %}

{% block content %}
    {% if not user.is_authenticated %}
        <p>404<br/> page not found</p>
    {% else %}
        <form action="", method="POST">
            <div class="field">
                {{ form.title.errors }}
                <label for="id_title">Введите название(не более 20 символов!):</label>
                {{ form.title }}
            </div>
            <input type="submit" value="Создать">
        </form>
    {% endif %}

{% endblock %}