{% extends 'base.html' %}

{% block title %}
    {{ thread.title }}
{% endblock %}


{% block content %}
    <h2><a href="/{{ short_title }}">{{ thread.part }}</a></h2>

    <div class="thread">

        <p>
            {{ thread.user }} | {{ thread.title }} | {{ thread.date }} | {{ thread.id }} |
            {% if user.is_authenticated %}
                <a href="http://127.0.0.1:8000/delete_thread/{{ short_title }}/{{ thread.id }}/">
                    [Удалить тред]
                </a>
                <a href="http://127.0.0.1:8000/edit_thread/{{ short_title }}/{{ thread.id }}">
                    [Редактировать тред]
                </a>
            {% endif %}
        </p>

        <p>{{ thread.text }}</p>
        <hr>

    </div>

    {% for answer in answers %}

        <div class="answer">
            <p>{{ answer.user }} | {{ answer.date }} | {{ answer.id }} |

            {% if user.is_authenticated %}
                <a href="http://127.0.0.1:8000/delete_answer/{{ short_title }}/{{ thread.id }}/{{ answer.id }}">
                    [Удалить ответ]
                </a>
                <a href="http://127.0.0.1:8000/edit_answer/{{ short_title }}/{{ thread.id }}/{{ answer.id }}">
                    [Редактировать ответ]
                </a>
            {% endif %}

            </p>
            <br/>{{ answer.text }}
            <hr>
        </div>

    {% endfor %}

        <div class="field">
            <form action="", method="POST">
                {{ form.text.errors }}
                <label for="id_text">Ответить в тред:</label>
                {{ form.text}}
                <input type="submit" value="Отправить">
            </form>
        </div>

{% endblock %}